<!--
Please make this into a vue.js widget that displays a list of customers showing firstName, lastName, phone and email, and an action column.
Each column should be sortable, except the action column.
There should be a text input near the top that filters the results.
The only action required should be to delete a customer row.
Create dummy data that adequately showcases the features requested here.
If you open this file in a browser, it is set up to function as a standalone widget.
Please use good design and user experience principles to make it look as professional as possible.
-->

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://dev.opiniion.com/vue-custom-element.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/1.4.1/document-register-element.js"></script>

<script>
  Vue.customElement('test-widget', {
    data() {
      return {
      }
    },
    methods: {
    },
    template: `<div>
      Hello World!
    </div>`
  });
</script>

<html>
  <test-widget></test-widget>
</html>